@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-content {
  position: relative;
  border-radius: 20px;
  width: 100%;
}

.gradient-content::before {
  content: '';
  background: linear-gradient(to right, #FF004DA8, #0029FFA8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -1.7px;
  border-radius: 21px;
}

.shadow-top {
  box-shadow: 0 -3px 5px -5px rgba(0, 0, 0, 0.15);
}

.shadow-bottom {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.15);
}

@keyframes dialog-overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dialog-overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dialog-content-show {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes dialog-content-hide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
}